.payment{
    background-color: #fff;
}
.paymentHeader{
    width: 100%;
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}
.paymentHeader >h2{
    color: black;
    font-weight: 500;
    font-size: 27px;
    text-decoration:none;
}
.paymentHeader>h2 a{
    color: black;
    text-decoration: none;
}
.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    flex: 0.2;
}
.payment_address{
    flex: 0.8;
}
.payment_items{
    flex: 0.8;
}